[Unit]
Description=preseed late_command script
After=network.target

[Service]
StandardOutput=syslog
ExecStart=/bin/bash /usr/share/rioos/sh/tools/rioos.sh
KillMode=process
ExecStartPost=/bin/systemctl disable rioos.service

[Install]
WantedBy=multi-user.target
