[Unit]
Description=preseed late_command script
After=network.target

[Service]
StandardOutput=tty
#ExecStartPre=/usr/bin/wget -q --no-check-certificate https://raw.githubusercontent.com/rajesh-rajagopal/myconfig/master/script/rioos.sh -O /var/lib/rioos.sh
ExecStart=/bin/bash /usr/share/rioos/sh/tools/rioos.sh
KillMode=process
ExecStartPost=/bin/systemctl disable rioos.service

[Install]
WantedBy=multi-user.target
